@model Abundance_Nk.Model.Model.AdmissionLetter
@using GridMvc.Html
@{
    Layout = null;
}
<style>
   

    body {
        font-family: Quicksand, sans-serif !important;
    }
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>

<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<br/>
<div style="width:80%; margin:0 auto;">

    <table style="width:100%;">
        <tr style="width:100%;">

            <td style="width:10%; text-align:left;">
                <div style="width:150px;">
                    <img src="@Url.Content("~/Content/Images/chst.png")" alt="School logo" width="100px" height="100px" />
                </div>
            </td>
            <td style="width:80%; text-transform:uppercase; text-align:center;">

                
                    <b>College of Health and Science Technology Ijero-Ekiti</b><br />
              <b>(OFFICE OF THE REGISTRAR)</b><br />

                <b>P.M.B 7788 IJERO-EKITI, EKITI STATE, NIGERIA</b><br />

               TEL: 030-250523

            </td>
            <td style="width:10%; text-align:right">
                @if (!string.IsNullOrEmpty(Model.Person.ImageFileUrl))
                {
                    <img src="@Url.Content(Model.Person.ImageFileUrl)" alt="Passport" width="100px" height="100px" />
                }
                else
                {
                    <img src=@Url.Content("~/Content/Images/default_avatar.png") alt="Passport" width="100px" height="100px" />
                }
            </td>

        </>
        </table>
    <table style="margin-top:10px;">
        <tr style="width:100%;">
            

            <td style="width:100%; text-align:right;">

                THE REGISTRAR: Mr. G. O. Adekunle <br />
                @*B.Ed, MPA (Ife), AMNIM, FCAI <br />*@
                Date Issued: @DateTime.Now.ToShortDateString()

            </td>
        </tr>



        <tr>
            <td style="width:100%; text-align:left;">

                Ref No:...........................................<br />
                @Model.Person.FullName <br />
                @Model.Person.ContactAddress<br />
                Dear Sir/Ma,<br />

            </td>
            

        </tr>

        <tr style="width:100%;">

            <td style="width:100%; text-align:center;"><u><b>OFFER OF PROVISIONAL ADMISSION INTO @Model.Programme.Description.ToUpper() PROGRAMME</b></u></td>

        </tr>



        @if (Model.Programme.Id == 1 || Model.Programme.Id == 3)
        {
            var programme = "Full-Time";
           
        <tr style="width:100%;">
            <td style="width:100%;">
                1. I am pleased to inform you that you have been offered provisional admission to pursue a course of study leading to the award of a @programme degree in
                @Model.Department.Name (@Model.Department.Faculty.Name) of The Federal Polytechnic Ado-Ekiti for the @Model.Session.Name session. The course duration is two (2) academic sessions.
            </td>
        </tr>
}
else
{
    <tr style="width:100%;">
        <td style="width:100%;">
            1. I am pleased to inform you that you have been offered provisional admission to pursue a course of study leading to the award of a @Model.Programme.Name degree in
            @Model.Department.Name (@Model.Department.Faculty.Name) of The Federal Polytechnic Ado-Ekiti for the @Model.Session.Name session. The course duration is two (3) academic sessions.
        </td>
    </tr>
}
        <tr style="width:100%;">
            <td style="width:100%;">
                2. The confirmation of this offer is subject to your obtaining the minimum entry qualification for the course to which you have been offered admission as well as
                fulfilling the condition spelt out below.
            </td>
        </tr>
        <tr style="width:100%;">
            <td style="width:100%;">
                3. You are required to formally accept the offer within three (3) weeks, from the date of issue of this letter and upon payment of a stipulated acceptance fee.
                In the absence of any response from you within the given time the Polytechnic will assume that you are not interested in the offer and may proceed to fill your place.
            </td>
        </tr>
        <tr style="width:100%;">
            <td style="width:100%;">
                4. At the time of registration in your school, you will be required to present the originals of the certificate(s) or any other acceptable evidence of the
                credentials/qualifications on which this offer of admission has been based. The Polytechnic reserves the right to withdraw your admission even after registration if it is
                discovered that you have been involved in any form of admission irregularity or you had earlier been expelled from the Polytechnic or any sister institution.
            </td>
        </tr>
        <tr style="width:100%;">
            <td style="width:100%;">

                5. Information relating to registration procedure schedule of fees, accommodation facilities and medical examination should be obtained from the school office
                for the course to which you have been admitted.
            </td>
        </tr>
        <tr style="width:100%;">
            <td style="width:100%;">
                6. If it is discovered that you are concurrently registered as a student in other departments/schools of the Polytechnic or any other institution,
                thereby pursuing two different programme at the same time this offer will be automatically cancelled.
            </td>
        </tr>
        <tr style="width:100%;">
            <td style="width:100%;">
                7. Accept my congratulations on your admission.<br />

                <strong>F. B. Akintola</strong> <br />
                <strong>Director, Academic Affairs</strong> <br />
                <img src=@Url.Content("~/Content/Images/registrar_sign.png") alt="" style="max-height: 50px" />
                <br />

                <strong>For: Registrar</strong> <br />

            </td>
            
        </tr>


    </table>

</div>