@model Abundance_Nk.Web.Areas.Student.ViewModels.StudentViewModel
@{
    ViewBag.Title = "ChangePassword";
}

@section Scripts {

    <link href="~/Content/sweetalert.css" rel="stylesheet"/>

    <script src="~/Scripts/sweetalert.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            var isValid = true;

            $("#savePassword").on('click', function() {

                $('#load').show();

                validateInput();

                if (isValid) {
                    var oldPasswordInput = $("#OldPassword").val();
                    var newPasswordInput = $("#NewPassword").val();
                    var confirmPasswordInput = $("#ConfirmPassword").val();

                    if (newPasswordInput == confirmPasswordInput) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("SaveModifiedPassword", "Home")',
                            dataType: 'json',
                            data: { oldPassword: oldPasswordInput, newPassword: newPasswordInput, confirmNewPassword: confirmPasswordInput },
                            success: function (result) {
                                if (result.IsError === false) {
                                    swal("Good Job!", result.Message, "success");
                                } else {
                                    swal("Oops!", result.Message, "error");
                                }
                                $('#load').hide();
                            },
                            error: function (ex) {
                                swal('Something went wrong!', 'Failed to retrieve subject combinations.' + ex, "error");
                                $('#load').hide();
                            }
                        });
                    } else {
                        swal("Attention!", "New Password and Confirm New Password fields must be the same.", "warning");
                        $('#load').hide();
                        return;
                    }

                } else {
                    $('#load').hide();
                    swal("Attention!", "A required field was not filled, kindly check and try again!", "warning");
                }
            });

            function validateInput() {
                $(':required').each(function() {
                    if ($.trim($(this).val()) === "") {
                        isValid = false;
                        $(this).css({
                            "border": "1px solid red"
                        });

                    } else {
                        isValid = true;
                        $(this).css({
                            "border": "1px solid gray"
                        });
                    }
                });
            }
        });

    </script>
}


<h2>Change Password</h2>

@*@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()*@

    <div class="form-horizontal custom-text-black">
        <h4>Enter your old password and new password to proceed</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Student.MatricNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.OldPassword, new { required = "required"})
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.NewPassword, new { required = "required" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { required = "required" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="savePassword" class="btn btn-primary btn-lg">Save</button>
                <span style="display: none" id="load"><img src="@Url.Content("~/Content/Images/bx_loader.gif")" /></span>
            </div>
        </div>
    </div>
@*}*@
