
@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    /**/

    /**/

    /**/

    /**/

    /**/

    /**/

    /**/

    ViewBag.Title = "Session Semester";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", TempData["Message"])
}

@section Scripts {


    <link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>


    <script type="text/javascript">


        $(document).ready(function () {
            $('#sesionSemesterDiv').hide();
            $('#showDiv').on('click', function () {
                $('#sesionSemesterDiv').show();
                $('#showDiv').hide();
            })
            $.extend($.fn.dataTable.shadows, {
                responsive: false
            });

            $("#attendanceTable").DataTable({
                dom: 'Bfrtip',
                ordering: true,
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'


                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'

                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'


                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible',
                            header: true,
                            modifier: {
                                orientation: 'Potrait'
                            }



                        },
                        orientation: 'Potrait'


                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'


                    }, , 'colvis'
                ]
            });
            //Add new sessionSemester record
            $('#saveSessionSemester').on('click', function () {
                var Id = $('#session').val();
                var sId = $('#semester').val();
                if (Id > 0 && sId > 0) {
                               $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveSessionSemester", "Support")', // Calling json method
                traditional: true,
                data: { Id, sId },
                success: function (result) {
                    if (!result.isError && result.Message) {
                        alert(result.Message);
                        location.reload(true);
                    }
                },
                error: function(ex) {
                    alert('Failed to retrieve courses.' + ex);
                }
            });
                }

            })
        })
        //Activate



        function Activate(id,status) {
            var response=false;
            if (status) {

                response = confirm("Are you sure You want to Activate this SessionSemester?");
            }
            else {

                response = confirm("Are you sure You want to De-Activate this SessionSemester ?");
            }

            if (response) {
                if (status) {
                    $(`#button_${id}`).text("...Activating");
                    $(`#button_${id}`).attr('disabled', true);
                }
                else {
                    $(`#button_${id}`).text("...De-Activating");
                    $(`#button_${id}`).attr('disabled', true);
                }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ActivateDeactivateSessionSemester", "Support")', // Calling json method
                traditional: true,
                data: { id, status },
                success: function (result) {
                    if (!result.isError && result.Message) {
                        alert(result.Message);
                        location.reload(true);
                    }
                },
                error: function(ex) {
                    alert('Failed to retrieve courses.' + ex);
                }
            });
        }
        else {
            return false;
        }
        }
    </script>

    <style>
        .btn-success {
            color: #1cc88a;
            background-color: transparent;
            border: 2px solid #eee;
            border-radius: 3px !important;
        }

        .btn-danger {
            color: #ca2819;
            background-color: transparent;
            border: 2px solid #eee;
            border-radius: 3px !important;
        }
    </style>
}
    <div id="tt" class="easyui-tabs" style="height:1000px;">

        <div title="SESSION SEMESTER">
            <div class="container mt-3" id="sesionSemesterDiv">
                <div class="card card-shadow p-4">
                    <h2>SESSION SEMESTER</h2>

                    <div class="row">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Session.Name, "Session", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", @id = "session", requiredt = true })
                                @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.Semester.Name, "Semester", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Semester.Id, (IEnumerable<SelectListItem>)ViewBag.Semester, new { @class = "form-control", @id = "semester", requiredt = true })
                                @Html.ValidationMessageFor(model => model.Semester.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-6">
                                <button class=" btn btn-primary" id="saveSessionSemester">Save</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />


        <hr />
        <div class="container mt-3">
            <button class=" btn btn-info pull-right" id="showDiv">Add New</button>
        </div>
        <br />
        <br />
        <div title="ALL SESSION SEMESTER">
            <div class="container mt-3">
                <div class="card-header">
                    <h3>ALL SESSION SEMESTER</h3>
                </div>
                <div class="card card-shadow p-4">

                    <div class="table-responsive">
                        <table class="table-bordered table-hover table-striped  table" id="attendanceTable">

                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>
                                        Session
                                    </th>
                                    <th>
                                        Semester
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>

                                    </th>

                                </tr>

                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.SessionSemesters.Count; i++)
                                {
                                    var sn = i + 1;
                                    <tr>
                                        <td>@sn</td>
                                        <td>
                                            @Model.SessionSemesters[i].Session.Name
                                        </td>
                                        <td>
                                            @Model.SessionSemesters[i].Semester.Name
                                        </td>


                                        @if (Model.SessionSemesters[i].Active)
                                        {
                                            <td>
                                                Active
                                            </td>
                                            <td>
                                                <button class="btn btn-info activate" id="button_@Model.SessionSemesters[i].Id" onclick="Activate(@Model.SessionSemesters[i].Id,false)">De-Activate</button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                In-Active
                                            </td>
                                            <td>
                                                <button class="btn btn-primary activate" id="button_@Model.SessionSemesters[i].Id" onclick="Activate(@Model.SessionSemesters[i].Id,true)">Activate</button>
                                            </td>
                                        }



                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            </div>
        </div>
